<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50964421980-i4p10u3e49uhvktlnbpqg1slif1t7di1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50964421980-i4p10u3e49uhvktlnbpqg1slif1t7di1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4BDY3YoNe4QGI6qZQ-2AuPLk4hv0czKs</string>
	<key>GCM_SENDER_ID</key>
	<string>50964421980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imsvietnamese.amazingcoffee</string>
	<key>PROJECT_ID</key>
	<string>newsims-7a6fa</string>
	<key>STORAGE_BUCKET</key>
	<string>newsims-7a6fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:50964421980:ios:8269b42a9645fa53713599</string>
</dict>
</plist>
